/*
.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.grid-margin,
.purchace-popup>div {
    margin-bottom: 25px
}

.card {
    border: 0;
    border-radius: 2px
}

.card-weather {
    background: #e1ecff;
    background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff)
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem
}

.card-weather .card-body:first-child {
    background: url(https://www.capebretonpost.com/media/photologue/photos/cache/SW-06_15_2019-Cumulus_clouds_atlantic_skies-123RF_large.jpg) no-repeat center;
    background-size: cover
    
    
}

.card .card-body {
    padding: 1.88rem 1.81rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-weather .weather-date-location {
    padding: 0 0 38px
}

.h3,
h3 {
    font-size: 1.56rem
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
    color: #969696
}

p {
    font-size: 13px
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
    color: #969696
}

.card-weather .weather-data {
    padding: 0 0 4.75rem
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.temperature {
    font-size: 2.5rem
}

.card-weather .card-body {
    background: #ffffff
}

.card-weather .weakly-weather {
    background: #ffffff;
    overflow-x: auto
}

.card-weather .weakly-weather .weakly-weather-item {
    flex: 0 0 14.28%;
    border-right: 1px solid #f2f2f2;
    padding: 1rem;
    text-align: center
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important
}

.card-weather .weakly-weather .weakly-weather-item i {
    font-size: 1.2rem
}

.signiture a{
    text-align: center;
}

*/



body {
    
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
  color: aliceblue;
 
}

h1 {
  font-weight: bold !important;
  margin-top: 10px;
}

h3 {
  padding: 10pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.first-letter{
    text-transform: capitalize;
}
a {
  text-decoration: none;
}

strong {
  font-size: 16pt;
}

div {
  padding: 5pt;
}

small {
    color: black;
}

.container {
    margin-right: 50px;
}


.weather-app-wrapper {    
    
    background: url(https://images.unsplash.com/photo-1543400408-98b2de7978ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1254&q=80)   ;
    border-radius: 15px;
    margin: 30pt;
    padding: 10pt;
    text-align: center;
}

.col-1 {
  padding-left: 0 !important;
  text-align: left;
}

.current-location {
  font-size: 10pt;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  text-decoration: none;
}

#temperature-today {
  font-size: 36pt;
  margin-left: 20px;
}

.units {
  position: relative;
  top: -20px;
}

.weather-today {
  font-size: 52pt;
}

.col {
    color: white ;
}